<a href="https://colab.research.google.com/github/tr-h3x/colabGoogPd/blob/main/filterData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('rand.csv')

In [5]:
df.head()

,ID,First Name,Last Name,Gender,Age,Salary,DOB,Education,Occupation
0,1000,Owen,Craig,Male,18.0,5434,02/05/81,Master,Medic
1,1001,Valeria,Richards,Female,29.0,3768,29/08/1976,Doctoral,Composer
2,1002,Kimberly,Douglas,Female,22.0,869,02/06/81,Master,Salesman
3,1003,Audrey,Campbell,Female,30.0,6928,29/08/1977,Master,Veterinarian
4,1004,Jordan,Kelly,Male,18.0,623,02/07/81,Bachelor,Insurer

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          100 non-null    int64
 1   First Name  100 non-null    object
 2   Last Name   100 non-null    object
 3   Gender      100 non-null    object
 4   Age         97 non-null     float64
 5   Salary      100 non-null    int64
 6   DOB         100 non-null    object
 7   Education   100 non-null    object
 8   Occupation  100 non-null    object
dtypes: float64(1), int64(2), object(6)
memory usage: 7.2+ KB

In [6]:
df['ID'].is_unique

True

In [7]:
df = df.set_index('ID')

In [8]:
df.head()

,First Name,Last Name,Gender,Age,Salary,DOB,Education,Occupation
ID,,,,,,,,
1000,Owen,Craig,Male,18.0,5434,02/05/81,Master,Medic
1001,Valeria,Richards,Female,29.0,3768,29/08/1976,Doctoral,Composer
1002,Kimberly,Douglas,Female,22.0,869,02/06/81,Master,Salesman
1003,Audrey,Campbell,Female,30.0,6928,29/08/1977,Master,Veterinarian
1004,Jordan,Kelly,Male,18.0,623,02/07/81,Bachelor,Insurer

In [9]:
df.isnull().sum()

First Name    0
Last Name     0
Gender        0
Age           3
Salary        0
DOB           0
Education     0
Occupation    0
dtype: int64

In [10]:
df[df['Age'].isna()]

,First Name,Last Name,Gender,Age,Salary,DOB,Education,Occupation
ID,,,,,,,,
1010,Andrew,Clark,Male,NaN,3488,02/08/81,Master,Programmer
1030,Amanda,Cunningham,Female,NaN,6602,02/10/81,Bachelor,Chef
1060,Sawyer,Brown,Male,NaN,6721,02/15/81,Lower secondary,Veterinarian

In [11]:
df1 = df.dropna()

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 1000 to 1099
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  97 non-null     object
 1   Last Name   97 non-null     object
 2   Gender      97 non-null     object
 3   Age         97 non-null     float64
 4   Salary      97 non-null     int64
 5   DOB         97 non-null     object
 6   Education   97 non-null     object
 7   Occupation  97 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.8+ KB

In [13]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1000 to 1099
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  100 non-null    object
 1   Last Name   100 non-null    object
 2   Gender      100 non-null    object
 3   Age         100 non-null    float64
 4   Salary      100 non-null    int64
 5   DOB         100 non-null    object
 6   Education   100 non-null    object
 7   Occupation  100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.0+ KB

In [15]:
df['Age'].mean()

23.494845360824737

In [16]:
df['Age'] = df['Age'].astype('int')

In [17]:
df['Age'].dtype

dtype('int64')

In [19]:
df['DOB'] = pd.to_datetime(df['DOB'])
df.head()

,First Name,Last Name,Gender,Age,Salary,DOB,Education,Occupation
ID,,,,,,,,
1000,Owen,Craig,Male,18,5434,1981-02-05,Master,Medic
1001,Valeria,Richards,Female,29,3768,1976-08-29,Doctoral,Composer
1002,Kimberly,Douglas,Female,22,869,1981-02-06,Master,Salesman
1003,Audrey,Campbell,Female,30,6928,1977-08-29,Master,Veterinarian
1004,Jordan,Kelly,Male,18,623,1981-02-07,Bachelor,Insurer

In [22]:
df['Gender'].value_counts()

Male      50
Female    50
Name: Gender, dtype: int64

In [21]:
df['Gender'] = df['Gender'].replace('Mile', 'Male')

In [23]:
df['Gender'] = df['Gender'].astype('category')
df['Gender'].dtype

CategoricalDtype(categories=['Female', 'Male'], ordered=False)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 1000 to 1099
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  100 non-null    object
 1   Last Name   100 non-null    object
 2   Gender      100 non-null    category
 3   Age         100 non-null    int64
 4   Salary      100 non-null    int64
 5   DOB         100 non-null    datetime64[ns]
 6   Education   100 non-null    object
 7   Occupation  100 non-null    object
dtypes: category(1), datetime64[ns](1), int64(2), object(4)
memory usage: 6.5+ KB

In [25]:
df = df.drop(columns=['Education', 'Occupation'])
df.columns

Index(['First Name', 'Last Name', 'Gender', 'Age', 'Salary', 'DOB'], dtype='object')

In [26]:
df.head(2)

     First Name Last Name  Gender  Age  Salary        DOB
ID
1000       Owen     Craig    Male   18    5434 1981-02-05
1001    Valeria  Richards  Female   29    3768 1976-08-29

In [28]:
df.loc[1005:1010]

     First Name   Last Name  Gender  Age  Salary        DOB
ID
1005     Fenton     Perkins    Male   20    9036 1978-08-29
1006     Audrey  Cunningham  Female   24    8880 1981-02-06
1007     Jordan        Hill    Male   24    7840 1977-08-29
1008     Miller      Rogers    Male   18    3844 1981-02-07
1009     Alissa   Armstrong  Female   27    2626 1978-08-29
1010     Andrew       Clark    Male   23    3488 1981-02-08

In [30]:
df.iloc[5:10]

     First Name   Last Name  Gender  Age  Salary        DOB
ID
1005     Fenton     Perkins    Male   20    9036 1978-08-29
1006     Audrey  Cunningham  Female   24    8880 1981-02-06
1007     Jordan        Hill    Male   24    7840 1977-08-29
1008     Miller      Rogers    Male   18    3844 1981-02-07
1009     Alissa   Armstrong  Female   27    2626 1978-08-29

In [32]:
df.at[1007, 'Salary']

7840