<a href="https://colab.research.google.com/github/tr-h3x/colabGoogPd/blob/main/imdbAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_csv('imdb_top_1000.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    1000 non-null   object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   int64
dtypes: float64(2), int64(2), object(12)
memory usage: 125.1+ KB

In [6]:
df = df[['Series_Title','Genre','IMDB_Rating','Star1','Star2','Star3','Star4','Director','Gross']]

In [7]:
df.head(3)

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
0,The Shawshank Redemption,Drama,9.3,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,Frank Darabont,28341469
1,The Godfather,Crime,9.2,Marlon Brando,Al Pacino,James Caan,Diane Keaton,Francis Ford Coppola,134966411
2,The Dark Knight,Action,9.0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Christopher Nolan,534858444

In [8]:
df['Genre'].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

In [11]:
df['Star1'].value_counts().head(10)

Tom Hanks            12
Robert De Niro       11
Al Pacino            10
Clint Eastwood       10
Humphrey Bogart       9
Leonardo DiCaprio     9
Johnny Depp           8
Christian Bale        8
James Stewart         8
Denzel Washington     7
Name: Star1, dtype: int64

In [10]:
df['Star1'].value_counts().tail(10)

Richard Farnsworth    1
Björk                 1
Ömer Faruk Sorak      1
Tae-Hyun Cha          1
Alan Mak              1
Preity Zinta          1
Javier Bardem         1
Ki-duk Kim            1
Vladimir Garin        1
Robert Donat          1
Name: Star1, dtype: int64

In [14]:
fil = df['Star1'] == 'Tom Hanks'
df[fil]
df.loc[fil, 'Series_Title']

11            Forrest Gump
24     Saving Private Ryan
25          The Green Mile
101              Toy Story
151            Toy Story 3
596            Toy Story 4
604       Captain Phillips
647              Cast Away
791      Road to Perdition
818           Philadelphia
890        Bridge of Spies
966              Apollo 13
Name: Series_Title, dtype: object

In [18]:
df.isin(['Tom Hanks']).any()

Series_Title    False
Genre           False
IMDB_Rating     False
Star1            True
Star2            True
Star3            True
Star4           False
Director        False
Gross           False
dtype: bool

In [21]:
df[df.isin(['Tom Hanks']).any(1)]
df.loc[df.isin(['Tom Hanks']).any(1), 'Genre'].value_counts()

<ipython-input-21-1665908c5de9>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df[df.isin(['Tom Hanks']).any(1)]
<ipython-input-21-1665908c5de9>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df.loc[df.isin(['Tom Hanks']).any(1), 'Genre'].value_counts()

Drama        4
Animation    4
Adventure    3
Crime        2
Biography    1
Name: Genre, dtype: int64

In [24]:
df.groupby(['Genre']).mean().sort_values('Gross')

<ipython-input-24-9fc678260587>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Genre']).mean().sort_values('Gross')

           IMDB_Rating         Gross
Genre
Film-Noir     7.966667  9.647853e+05
Fantasy       8.000000  5.269970e+06
Western       8.350000  1.455538e+07
Thriller      7.800000  1.755074e+07
Mystery       7.975000  2.642347e+07
Comedy        7.901290  2.983143e+07
Crime         8.016822  3.244320e+07
Drama         7.957439  3.838095e+07
Biography     7.938636  6.047271e+07
Horror        7.909091  6.690104e+07
Adventure     7.937500  8.286716e+07
Animation     7.930488  1.146530e+08
Action        7.949419  1.220545e+08
Family        7.800000  2.195553e+08

In [25]:
genre = df.groupby(['Genre'])
genre.get_group('Action')

,Series_Title,Genre,IMDB_Rating,Star1,Star2,Star3,Star4,Director,Gross
2,The Dark Knight,Action,9.0,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,Christopher Nolan,534858444
5,The Lord of the Rings: The Return of the King,Action,8.9,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,Peter Jackson,377845905
8,Inception,Action,8.8,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,Christopher Nolan,292576195
10,The Lord of the Rings: The Fellowship of the Ring,Action,8.8,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,Peter Jackson,315544750
13,The Lord of the Rings: The Two Towers,Action,8.7,Elijah Wood,Ian McKellen,Viggo Mortensen,Orlando Bloom,Peter Jackson,342551365
...,...,...,...,...,...,...,...,...,...
968,Falling Down,Action,7.6,Michael Douglas,Robert Duvall,Barbara Hershey,Rachel Ticotin,Joel Schumacher,40903593
979,Lethal Weapon,Action,7.6,Mel Gibson,Danny Glover,Gary Busey,Mitchell Ryan,Richard Donner,65207127
982,Mad Max 2,Action,7.6,Mel Gibson,Bruce Spence,Michael Preston,Max Phipps,George Miller,12465371
983,The Warriors,Action,7.6,Michael Beck,James Remar,Dorsey Wright,Brian Tyler,Walter Hill,22490039
985,Escape from Alcatraz,Action,7.6,Clint Eastwood,Patrick McGoohan,Roberts Blossom,Jack Thibeau,Don Siegel,43000000

In [26]:
genre['Star1'].value_counts()

Genre     Star1
Action    Harrison Ford            5
          Christian Bale           4
          Joe Russo                4
          Tom Cruise               4
          Arnold Schwarzenegger    3
                                  ..
Mystery   Rufus Sewell             1
          Vidya Balan              1
Thriller  Audrey Hepburn           1
Western   Clint Eastwood           3
          Henry Fonda              1
Name: Star1, Length: 829, dtype: int64

In [27]:
genre['Star1'].value_counts().loc['Drama']

Star1
Shah Rukh Khan      5
Ethan Hawke         4
Tom Hanks           4
Clint Eastwood      3
Dustin Hoffman      3
                   ..
Will Smith          1
William Holden      1
Yalitza Aparicio    1
Zain Al Rafeea      1
Çetin Tekindor      1
Name: Star1, Length: 250, dtype: int64